
.dropFile{

  position: fixed;
  z-index: 100;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.form{
  
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  padding: 0.5rem 0;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  .filesPreview{
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / 4;

    .content{
      position: absolute;
      bottom: 0.5rem;
      width: 100%;
    }
  }

  .files{
    .filesContainer{
      position: relative;
      align-self: end;
      cursor: pointer;
      overflow: hidden;

      .fileIcon{
        display: block;
        border-radius: 0.5rem;
        padding: 0.7rem;
        width: 2.9rem;
        height: 2.9rem;
        border: 1px solid #424242;
        color: var(--fg-color);
        background-color: var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .fileInput{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        display: block;
        cursor: pointer;

        &:hover + .fileIcon{
          border: 1px solid #707070;
        }

        &:active + .fileIcon{
          border: 1px solid #424242;
        }
      }

    }
  }

  .input{
    position: relative;
    max-height: 300px;
    overflow: hidden;
    line-break: anywhere;
    padding: 0.7rem;

    .textarea{
      padding: 0.7rem;
      line-break: anywhere;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      outline: none;
      border: 1px solid #3c3c3c;
      border-radius: 0.5rem;
      background-color: var(--bg-color);
      scrollbar-width: none;
      resize: none;
      overflow: auto;

      &::-webkit-scrollbar{
        width: 0px;
      }

      &:focus{
        border: 1px solid #707070;
      }
    }
  }

  .submit{
    
    outline: none;
    align-self: end;
    border-radius: 0.5rem;
    padding: 0.7rem;
    width: 2.9rem;
    height: 2.9rem;
    border: 1px solid #424242;
    color: var(--fg-color);
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;

    &.hasContent{
      border: 1px solid #707070;
    }

  }

  .warning{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: small;
    opacity: 0.8;
    color: #bababa;
  }

}