

.create{
  text-decoration: dotted underline;
}

.database{
  margin-top: 1em;
  border-radius: 1em;
  padding: 1.5em;
  border: 2px solid #555;
  width: auto;
  max-width: 100%;

  & .nameContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    
    .name{
      font-size: 1.5em;
    }

    .usage{
      display: flex;
      flex-direction: column;
      gap: 1em;
      text-align: right;
    }

  }

  .url{
    border-radius: 0.3em;
    overflow: hidden;
    border: 1px solid #555;
    display: flex;
    margin-top: 1em;

    & > span{
      padding: 0.5rem 1em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.chromadb{
      & > span:first-child{
        background-color: yellow;
        color: var(--bg-color)
      }
    }

    &.postgres{
      & > span:first-child{
        background-color: dodgerblue;
        color: var(--fg-color)
      }
    }

    &.redis{
      & > span:first-child{
        background-color: crimson;
        color: var(--fg-color)
      }
    }

  }

  & pre{
    background-color: #333;
    margin-top: 1em;
    padding: 1em;
    border-radius: 0.5em;
    overflow: auto;
  }
}