
.notype{
  margin-bottom: 1em;
  color: #999;
  & input{
    display: none;
  }
}

.form{
  & label{
    display: block;
    margin-bottom: 1em;

    & span{
      display: block;
      margin-bottom: 0.2em;
    }

    & input, & select{
      padding: 0.2em 0.5em;
      background-color: #333;
      border-radius: 0.3em;
    }
  }

  & > button[type=submit]{
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    background-color: orange;
    color: #000;

    opacity: 0.5;
  }

  &:valid > button[type=submit]{
    opacity: 1;
  }

  &:valid > button[type=submit]:active{
    opacity: 0.7;
  }
}