
.page {

  display: grid;
  grid-template-rows: auto 1fr auto;

  --max-width: var(--content-max-width);
  --padding: var(--content-padding);

  .content{
    max-width: var(--max-width);
    padding: var(--padding);
    margin: 0 auto;
  }

  .topbar{
    position: sticky;
    top: 0px;
    z-index: 99;
    transition: top 200ms ease-out;
    backdrop-filter: blur(9px);
    background-color: rgb(from var(--bg-color) r g b / 50%);

    &.scrolledUp{
      top: 65px;
      
      @media(min-width: 800px){
        top: 0px;
      }
    }
  }

  .chat{
    z-index: 0;
    overflow: auto;

    .content{
      padding: 0 1rem;
      display: grid;
      grid-template-rows: 1fr auto;
      min-height: 100%;
    }
  }
  
  .input{
    z-index: 1;
    position: sticky;
    bottom: 0;
    backdrop-filter: blur(9px);
    background-color: rgb(from var(--bg-color) r g b / 50%);
  }
  

}

