
.searchContainer{
  padding: 0rem 2rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid #444;

  @media(min-width: 800px){
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  @media(min-width: 900px){
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.chatSearch{
  display: grid;
  grid-template-columns: 1fr 24px;
  padding: 0.5rem;
  gap: 1rem;
  background-color: var(--bg-color);
  border-radius: 0.5rem;


  .input{
    all: unset;
    display: block;
    width: 100%;
    padding: 0 0.5rem;

    &::placeholder{
      opacity: 0.7;
    }

  }

  .closeButton{
    opacity: 0.5;

    &:hover{
      opacity: 1;
    }

    &:active{
      opacity: 0.7;
    }
  }

}