
.menuContainer{
  position: relative;
  display: flex;
  align-items: center;

  .menuButton{
    opacity: 0.5;

    &:hover{
      opacity: 0.7;
    }

    &:active{
      opacity: 0.5;
    }
  }


  .menuContent{
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    border: 3px solid #424242;
    background: var(--bg-color);
    padding: 1em;
    border-radius: 0.5em;
    display: none;
    width: 400px;
    max-width: calc(100vw - 2rem);

    &.menuOpen{
      display: block;  
    }

    .menuHeader{
      color: #999;
      font-size: smaller;
      margin-bottom: 0.4em;
    }

    .input{
      all: unset;
      display: block;
      width: 100%;
      margin: 0.4em 0;
    }

    .selectWrapper{
      margin: 0.4em 0;
      position: relative;

      .select{
        all: unset;
        display: block;
        width: 100%;
        border-radius: 0px;
        cursor: pointer;
      }

      .chevronDown{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        opacity: 0.5;
        pointer-events: none;
        transform: rotateX(0deg);
        transition: transform 500ms;
      }

      &:hover{
        .chevronDown{
          opacity: 1;
        }
      }
      
      &:active{
        .chevronDown{
          transform: rotateX(180deg); 
        }
      }

    }

    .systemPrompt{
      all: unset;
      display: block;
      width: calc(100% - 1em);
      padding: 0.5em;
      border-radius: 0.5em;
      background-color: #272727;

      &:focus{
        background-color: #333;
      }
    }

    .systemPromptDisabled{
      color: #999;
      margin-top: 1em;
    }

    .noedit{
      margin-bottom: 1em;
      text-align: center;
      border: 1px solid #444;
      padding: 0.2em;
      border-radius: 5px;
      color: rgb(203, 85, 85);
    }

  }
}