

.mainHeading{
  margin-top: 2em;
  margin-bottom: 1em;
}

.dangerContainer{

  padding: 2em;
  margin-bottom: 2em;
  border: 1px solid tomato;
  border-radius: 0.5em;

  .note{
    margin-bottom: 1em;
  }

  .cancel{
    margin-right: 1em;
  }

}