

.page{

  width: 100%;
  max-width: var(--content-max-width);
  padding: 0 calc( 2 * var(--content-padding-lr));
  margin: 0 auto;

  @media(min-width: 800px){
    margin: 3em auto;
  }

  .heading{
    margin-bottom: 1em;
    
    @media(min-width: 800px){
      margin-bottom: calc(1em - 2px); /* so it aligns with sidebar */
      margin-top: 1em;
    }
  }

}