

.page{

  width: 100%;
  max-width: var(--content-max-width);
  padding: 0 calc( 2 * var(--content-padding-lr));
  /* padding: 0px; */
  margin: 0 auto;

  @media(min-width: 800px){
    margin: 3em auto;
  }

  .heading{
    margin-bottom: 1em;
    
    @media(min-width: 800px){
      margin-bottom: calc(0.39em); /* so it aligns with sidebar */
      margin-top: 0.39em; /* well, 1px diff */
    }
  }

}