h1{
  font-size: 2.4rem;
}

h2{
  padding-top: 1em;
  font-size: 2.2rem;
}

h3{
  padding-top: 1em;
  font-size: 2rem;
}

h4{
  padding-top: 1em;
  font-size: 1.8rem;
}

h5{
  padding-top: 1em;
  font-size: 1.6rem;
}

h5{
  padding-top: 1em;
  font-size: 1.4rem;
}

h6{
  padding-top: 1em;
  font-size: 1.2rem;
}

hr{
  border: 0;
  border-top: 1px solid #4b4b4b;
  height: 1px;
  width: 100%;
}