
.heading{
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  display: flex;
  gap: 16px;
  align-items: center;

  .link{
    opacity: 0.5;

    &:hover{
      opacity: 1;
    }

    &:active{
      opacity: 0.7;
    }
  }

  .indicator{

    display: flex;
    align-items: center;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: red;

    &.isOn{
      background-color: greenyellow;
    }
  }
}

.form{

  .label{
    display: block;
    
    .info{
      display: block;
      font-size: smaller;
      margin-bottom: 0.2em;
      margin-top: 0.5em;
    }

    .input{
      all: unset;
      background: #333;
      padding: 0.5em 1em;
      border-radius: 0.5em;
      display: block;
      box-sizing: border-box;
      width: 100%;
      max-width: 400px;
    }

  }

  .error{
    padding: 0.5em 0;
    color: rgb(255, 100, 100);
    font-size: 0.9rem;
  }
}

.chromadb {

  .desc{
    color: #999;
    margin-bottom: 1em;
    width: 100%;
    max-width: 400px;
  }

  .pre{

    position: relative;
    
    display: block;
    overflow: auto;
    width: 100%;
    max-width: min(400px, calc(100vw - 4.4em));
    padding: 1em;
    background-color: #222;
    margin-bottom: 1em;
  }

  .install{
    margin-bottom: 2em;
    color: #999;
  }

  .install > a{
    text-decoration: dotted;
    text-decoration-line: underline;
    color: var(--fg-color);
  }

  .pre > button{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background-color: var(--bg-color);
    opacity: 0.5;
    padding: 0.5em;

    &:hover{
      opacity: 1;
    }

    &:active{
      opacity: 0.7;
    }
  }

}

.downloadStatus{

  margin-top: 1em;

  .progress{
    width: 100%;
    max-width: 400px;
    height: 0.2em;
    background-color: #333;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
  }

  .progress > div {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background-color: greenyellow;
    transition: width 200ms ease-out;
  }

  .info{
    margin-top: 0.5em;
    color: #999;
  }
}