
.bubble-content{

  & > * {
    margin-bottom: 1rem;
  }

  & > :last-child{
    margin-bottom: 0rem;
  }

  .highlighted-code{
  
    .highlighted-code-header{
  
      padding: 0.5rem 1rem;
      font-size: smaller;
      display: flex;
      justify-content: space-between;
      background-color: #222;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-bottom: 1px solid #444;

      button{
        opacity: .7;

        &:hover{
          opacity: 1;
        }

        &:active{
          opacity: 0.7;
        }
      }
    }
    
    pre{
      font-size: 0.9rem;
      
      code{
        padding: 1rem;
        overflow: auto;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background-color: #242424 !important;
      }
    }

  }

  .convo-image{
    border: 1px solid #444;
    padding: 0.5rem;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    img{
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    figcaption{
      margin-top: 0.5rem;
      text-align: center;
    }
  }
  
  code:not(.hljs){
    padding: 3px 5px;
    border: 1px solid rgb(from orange r g b / 60%);
    border-radius: 5px;
  }

  a{
    text-decoration: underline;
  }

  ol{
    list-style-type: decimal;
    margin-left: 2rem;
  }

  ul{
    list-style-type: disc;
    margin-left: 2rem;
  }

  .table-container{
    overflow-x: auto;
    width: 100%;
    max-width: 100%;

    table{
      width: 100%;
      min-width: 300px;
      
      tr:hover{
        background-color: #222;  
      }
  
      th{
        border: 1px solid #444;
        padding: 0.5rem;
        border-bottom: 2px solid #666;
      }
      td{
        border: 1px solid #444;
        padding: 0.5rem;
      }
    }
  }


}
