

.bubble{

  padding: 1rem 0;
  display: grid;
  gap: 1rem;

  --aside-width: 34px;
  --max-width-cloud: calc(
      min(100vw,  var(--content-max-width)) -
      var(--content-padding-lr) -
      var(--aside-width) - 
      var(--aside-width) -
      calc( 4 * 1rem )
      /* 
        why is there four 1rem? 
        two is for the gap,
        another two is for outside padding,
      */
    );
  
  @media (min-width: 800px){
    --max-width-cloud: calc(
      min(100vw - var(--content-nav-width-sm),  var(--content-max-width)) -
      var(--content-padding-lr) -
      var(--aside-width) - 
      var(--aside-width) -
      calc( 4 * 1rem )
    );
  }

  @media (min-width: 900px){
    --max-width-cloud: calc(
      min(100vw - var(--content-nav-width),  var(--content-max-width)) -
      var(--content-padding-lr) -
      var(--aside-width) - 
      var(--aside-width) -
      calc( 4 * 1rem )
    );
  }
  
  & > .cloud{
    grid-area: cloud;
    max-width: var(--max-width-cloud);
  }

  & > .pict{
    grid-area: pict;
    align-self: start;
    height: auto;
  }

  & > .gap{
    grid-area: gap;
  }

  &.user{
    grid-template-areas: "gap cloud pict";
    grid-template-columns: 
      var(--aside-width) 
      1fr 
      var(--aside-width);

    & > .cloud{
      display: flex;
      justify-content: flex-end;
      & > .content{
        background-color: #333;
        border-radius: 0.5rem;
        padding: 0.7rem 1rem;
      }
    }
  }

  &.bot{
    grid-template-areas: "pict cloud gap";
    grid-template-columns: 
      var(--aside-width) 
      1fr
      var(--aside-width);
  }

}