.downladImageButton{
  opacity: 0.7;
  transition: opacity 200ms ease-out;

  &:hover{
    opacity: 1;
  }
}

.bubble{

  --aside-width: 1.8em;
  --row-gap: .8em;
  --nav-width: 0px;

  padding: 1em 0;
  display: grid;
  gap: var(--row-gap);
  scroll-margin-top: 62px;
  position: relative;

  --max-width-cloud: calc(
      min(100vw - var(--nav-width),  var(--content-max-width)) -
      calc( 2 * var(--aside-width) ) - 
      calc( 2 * var(--content-padding-lr) ) - 
      calc( 2 * var(--row-gap) ) - 
      calc( 2px + var(--scrollbar-width)) /*  why 2px? i don't know */
    );

  @media(min-width: 500px){
    --aside-width: 2.9em;
    --row-gap: 1em;
  }
  
  @media (min-width: 900px){
    --nav-width: var(--content-nav-width);
  }

  .cursor{
    background-color: white;
    margin-left: 1em;
    width: 1em;
  }

  .stopped{
    margin-top: 1em;
    font-style: italic;
    color: #999;
  }
  
  & > .cloud{
    grid-area: cloud;
    max-width: var(--max-width-cloud);
    box-sizing: border-box;
  }

  & > .pict{
    grid-area: pict;
    align-self: start;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
  }

  & > .gap{
    grid-area: gap;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    & > .stop{
      display: none;
      position: sticky;
      bottom: 144px;
      background: var(--fg-color);
      color: var(--bg-color);
      padding: 0.2em;
      border-radius: 50%;
      @media(min-width: 500px){
        padding: 0.4em;
      }

      opacity: 0.7;
      &:hover{
        opacity: 1;
      }

      &:active{
        opacity: 0.7;
      }

    }

    & > .down{
      position: sticky;
      bottom: 94px;
      opacity: 0;
      transition: opacity 200ms ease-out;

      background: var(--fg-color);
      color: var(--bg-color);
      padding: 0.2em;
      border-radius: 50%;
      @media(min-width: 500px){
        padding: 0.4em;
      }
      cursor: unset;

      &.shown{
        cursor: pointer;
        opacity: 0.7;

        &:hover{
          opacity: 1;
        }
  
        &:active{
          opacity: 0.7;
        }
      }

    }
  }

  &.user{
    grid-template-areas: "gap cloud pict";
    grid-template-columns: 
      var(--aside-width) 
      1fr 
      var(--aside-width);

    & > .cloud{
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      gap: 1em;

      & > .content{
        background-color: #333;
        border-radius: 0.5em;
        padding: 0.7em 1em;
        width: fit-content;
        align-self: flex-end;
        max-width: 100%;
      }

      & > .attachments{
        align-self: flex-end;
      }
    }
  }

  &.bot{
    grid-template-areas: "pict cloud gap";
    grid-template-columns: 
      var(--aside-width) 
      1fr
      var(--aside-width);
  }

  .bottomObserved{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
  }

}