
.history{
  .loading, .empty{
    margin: 1rem 0;
  }

  .loading{
    color: #aaa;
  }
  
  .empty{
    color: #777;
  }

  .row{
    display: grid;
    grid-template-columns: auto 1fr auto;

    .left, .middle, .right{
      padding: 0.3em;
      display: flex;
      align-items: flex-start;
    }

    .right{
      padding-right: 0.5em;
    }

    .left{

      padding-left: 0.5em;

      .input{
        all: unset;
        border: 1px solid #555;
        width: 13px;
        height: 13px;
        margin-top: 0.2em;
        cursor: pointer;

        &:checked{
          background-color: orange;
        }
      }
    }

  }

  .header{
    background-color: var(--bg-color);
    border-bottom: 1px solid #333;
    min-height: 2.7em;
    position: sticky;
    z-index: 100;
    top: 65px;
    margin-bottom: 1em;

    @media(min-width: 800px){
      top:0;
    }

    .left, .middle, .right{
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    .middle{
      opacity: 0.5;
    }

    .right{
      color: rgb(208, 94, 94);

      &:active{
        opacity: 0.7;
      }
    }
  }

  .item{
    grid-template-rows: auto auto;

    .convoDetail{
      grid-column: 1 / 4;
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 200ms ease-out;

      &.open{
        grid-template-rows: 1fr;
      }

      .content{
        overflow: hidden;

        .contentContainer{
          border: 1px solid #444;
          padding: 0.3em 1em;
          border-radius: 0.5em;
          margin: 1em 0;
        }
      }
    }

    .right{
      
      .button{
        opacity: 0.5;
        &:hover{
          opacity: 1;
        }
        &:active{
          opacity: 0.7;
        }
      }
    }

    .middle{
      .i{
        color: #888;
      }
    }

    &.open{
      .left{
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
      }
      .right{
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
      }
      .left, .middle, .right{
        background-color: rgb(69, 69, 69);
      }
    }
  }
}