

.chatList{

  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .empty{
    color: #777;
    padding: 0.5em 2em;
  }

  .chat{

    padding: 0.5em 2em;
    display: grid;
    grid-template-columns: 1fr;
    height: 2.6em;

    @media(min-width: 800px){
      padding-left: 1em;
      padding-right: 1em;
    }
    
    @media(min-width: 900px){
      padding-left: 2em;
      padding-right: 2em;
    }

    &.active{
      background-color: #111;
      position: relative;

      .border{
        position: absolute;
        left:0;
        top:0;
        height: 100%;
        width: 3px;
        background: rgb(8, 158, 36);
      }
    }
  
    .titleButton{
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      color: transparent;
      background-image: linear-gradient(
        to right, 
        rgb(from var(--fg-color) r g b / 1) 0%,
        rgb(from var(--fg-color) r g b / 1) 70%, 
        rgb(from var(--fg-color) r g b / 0) 98%,
        rgb(from var(--fg-color) r g b / 0)
      );
      background-size: 100%;
      background-clip: text;
      text-align: left;

      .untitled{
        color: #777;
      }
    }
  
    .removeButton{
      display: none;
      opacity: 0.5;

      &:hover{
        color: rgb(255, 117, 117);
        opacity: 1;
      }

      &:active{
        opacity: 0.7;
      }
    }

    &:hover{
      grid-template-columns: 1fr auto;
      .removeButton{
        display: block;
      }
    }

    @media (hover: none) {
      grid-template-columns: 1fr auto;
      .removeButton{
        display: block;
      }
    }
  
  }

}