@keyframes iframeSlideIn {
  0%{
    opacity: 0;
    translate: 0 -1em;
  }

  100%{
    opacity: 1;
    translate: 0 0em;
  }
}


.iframeContainer{
  --gap: 1em;

  position: fixed;
  z-index: 1000;
  top: var(--gap);
  left: var(--gap);
  width: calc(100% - var(--gap) - var(--gap));
  height: calc(100vh - var(--gap) - var(--gap));
  
  .iframe, .iframeClose{
    animation-name: iframeSlideIn;
    animation-duration: 300ms;
    animation-delay: 300ms;
    animation-fill-mode: both;
  }
  
  .iframe{
    width: 100%;
    height: 100%;
    
  }

  .iframeClose{
    position: fixed;
    top: var(--gap);
    right: var(--gap);
    z-index: 1001;
    color: white;
    background-color: rgb(189, 0, 0);
    padding: 0.24em;

    &:hover{
      color: white;
      background-color: red;
    }

    &:active{
      opacity: 0.5;
    }
  }
}

.downladImageButton{
  opacity: 0.7;
  transition: opacity 200ms ease-out;

  &:hover{
    opacity: 1;
  }
}

.attachments{
  
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: rgb(1, 1, 1, 0.90);
  border: 1px solid #222;
  display: grid;
  gap: 0.5em;
  
  grid-template-columns: repeat(var(--column-number, 3), 1fr);
  max-height: calc( 100vh - 19em );
  overflow-y: auto;
  
  @media (min-width: 800px){
    width: var(--width, 100%);
    grid-template-columns: repeat(var(--column-number, 6), 1fr);
  }

  .file{

    position: relative;

    .remove{
      position: absolute;
      right: 0.5em;
      top: 0.5em;
      padding: 0.2em;
      border-radius: 0.2em;
      background-color: rgba(0,0,0,0.3);
      display: none;

      &:hover{
        background-color: red;
        color: white;
      }
    }

    &:hover .remove{
      display: block;
    }

    .image{
      border-radius: 0.5em;
      overflow: hidden;
      display: block;
      height: 6em;
      object-fit: cover;
      object-position: center center;
      width: 100%;
      cursor: pointer;

      &.icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: royalblue;
        position: relative;

        .svg{
          color: rgb(51, 82, 175);
          width: 2em;
          height: auto;
        }

        .fileName{
          position: absolute;
          display: block;
          width: 80%;
          bottom: .2em;
          font-size: 0.7rem;
          margin-top: 0.5em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

    }
  }

}