
.button{
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: var(--fg-color);
  color: var(--bg-color);

  &:active{
    opacity: 0.7;
  }
  
  &.danger{
    background-color: tomato;
    color: var(--bg-color);
  }

  &.success{
    background-color: greenyellow;
    color: var(--bg-color);
  }
}



.label{
  display: block;
  margin-bottom: 1em;
  
  .info{
    display: block;
    margin-bottom: 0.3em;
    margin-top: 0.5em;
  }

  .input{
    all: unset;
    background: #333;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    cursor: text;
  }

  .select{
    all: unset;
    background: #333;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    width: 100%;
    display: block;
    box-sizing: border-box;
    max-width: 400px;
    cursor: pointer;

    & > option[value=""]{
      color: #999;
    }
  }
}