
.button{
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: var(--fg-color);
  color: var(--bg-color);

  &:active{
    opacity: 0.7;
  }
  
  &.danger{
    background-color: tomato;
    color: var(--bg-color);
  }

  &.success{
    background-color: greenyellow;
    color: var(--bg-color);
  }
}

.labelCheckbox{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 1em 0;
  margin-top: 2em;
}


.label{
  display: block;
  margin-bottom: 1em;
  
  .info{
    display: block;
    margin-bottom: 0.3em;
    margin-top: 0.5em;
  }

  .input{
    all: unset;
    background: #333;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    cursor: text;

    &:focus{
      outline: 2px solid rgb(from greenyellow r g b / 0.7 );
    }

    &:user-invalid{
      outline: 2px solid tomato;
    }
  }

  .selectWrapper{
    position: relative;
    max-width: 400px;
    .select{
      all: unset;
      background: #333;
      padding: 0.5em 1em;
      border-radius: 0.5em;
      width: 100%;
      display: block;
      box-sizing: border-box;
      max-width: 400px;
      cursor: pointer;
  
      &:focus{
        outline: 2px solid rgb(from greenyellow r g b / 0.7 );
      }
  
      &:user-invalid{
        outline: 2px solid tomato;
      }
  
      &:has(option[value=""]:checked){
        color: #999;
      }
    }
  
    .chevron{
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%) rotateX(0deg);
      opacity: 0.5;
      transition: transform 500ms ease-out;
      pointer-events: none;
    }

    &:hover .chevron{
      opacity: 1;
    }

    &:has(select:active) .chevron{
      transform: translateY(-50%) rotateX(180deg);
    }
  }

}